body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1em;
}

p {
  line-height: 2;
}

h1 {
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 10px;
  width: 10%;
  margin: 100px auto;
}

.top-container {
  background-color: #c1f4c5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin-top: 100px;
}

.bottom-container {
  background-color: #66bfbf;
  height: 150px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.skill-row {
  text-align: left;
  margin: 100px auto;
  width: 50%;
}

.html,
.css,
.js,
.python,
.git,
.tech,
.research,
.comms {
  width: 25%;
  margin-right: 30px;
}

.html {
  float: left;
  margin-right: 30px;
}

.css {
  float: right;
  margin-left: 30px;
}

.js {
  float: left;
  margin-right: 30px;
}

.python {
  float: right;
  margin-left: 30px;
}

.git {
  float: left;
  margin-right: 30px;
}

.tech {
  float: right;
  margin-left: 30px;
}

.research {
  float: left;
  margin-right: 30px;
}

.comms {
  float: right;
  margin-left: 30px;
}

.trademark {
  color: #eaf6f6;
  margin-top: 50px;
}

.footer-link {
  color: #11999e;
}

.contact-me {
  line-height: 2;
  padding-bottom: 100px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
